* {
	font-family: Verdana, sans-serif, sans-serif;
	margin: 0px; /**/
	padding: 0px; /**/
}

/*INÍCIO CABEÇALHO*/
#cabecalho {
	text-align: center;
	padding: 50px;
	padding-top: 10px;
	background-color: #262626;
	background-image: url(imagens/ahri.jpg);
	background-position: 50% 20%;
	background-size: 200%;
}

#fundo {
	margin-top: 30px;
	background-color: rgba(0,0,0,0.8);
}

#menu {
	padding: 15px;
}

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul li {

	display: inline-flex;
}

#titulo img {
	width: 25%;
	padding: 0;
	margin-top: 30px;
}

h1#formatacao-titulo {
	color: white;
	margin-bottom: 5px;
}


 
#menu a {
	padding-right: 55px;
	padding-left: 55px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 15px;
	font-size: 20px;
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 155px;
	font-family: Arial Black, sans-serif;
}

#menu a:link {
	background-color: #e7a3ff;
}


#menu a:hover, #selecionado a {
	background-color: #980ac9;
	color: white;
}
/*FIM CABEÇALHO*/


/*BODY*/
#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-right: 30px;
	padding-left: 30px;
}

.caixas {
	font-family: FreeMono, monospace, sans-serif;
	font-weight: 500;
	padding: 5px;
	text-align: center;
	background-color: white;
	width: 600px;
	margin: 20px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.caixas a {
	text-decoration: none;
	font-family: Arial Black, Helvetica, sans-serif;
}

.caixas p {
	text-align: justify;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 15px; 
}



#logo-time {
	width: 250px;
}

#players {
	width: 250px;
	position: relative;
	bottom: 30px;
	right: 30px;
}

.caixas h2 {
	text-align: left;
	position: relative;
	left: 20px;
	padding: 15px; 
}

#caixa-3 {
	padding: 5px;
	height: 465px;
	text-align: center;
	background-color: white;
	width: 91.5%;
	margin: 20px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

#caixa-3 h2 {
	padding-top: 20px;
}

#caixa-3 p {
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	position: relative;
	top: 150px;
}

#logo-time {
	position: relative;
	right: 10px;
}

body {
	background-color: #808080;
	background-image: url(imagens/background-kda.jpg);
	background-size: 100%;


}

h2#builds {
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;
}

h3#as-melhores {
	margin-top: 10px;
	margin-bottom: 40px;
	color: white;
}

#cor a {
	background-color: yellow;
}

#caixa-3 ul {
	text-align: left;
	padding: 80px;
	padding-bottom: 10px;

}

#conteudos {
	float: left;
}

#caixa-3 img {
	position: relative;
	left: 300px;
	bottom: 190px;
}

#caixa-3 a {
	text-decoration: none;
}

/*FIM BODY*/

/*COMEÇO RODAPÉ*/

#rodape {
	text-align: center;
	background-color: black;
	padding: 0px;
	margin: 0px; 
	width: 100%;
	
}

#rodape h3 {
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
}

#botao {
	cursor: pointer;
	position: absolute;
	top:1790px;
	left: 525px;
	color: white;
	background-color: rgba(0,0,0,0);
	padding: 40px;
	padding-right: 60px;
	padding-left: 60px; 
	font-size: 40px;
	border: 2px solid white;
}
/*FIM RODAPÉ*/