* {
	font-family: Arial; Helvetica, sans-serif;
	margin: 0px; /**/
	padding: 0px; /**/
}

/*INÍCIO CABEÇALHO*/
#cabecalho {
	text-align: center;
	padding: 50px;
	padding-top: 10px;
	background-color: #262626;
	background-image: url(imagens/ahri.jpg);
	background-position: 50% 20%;
	background-size: 150%;
}

#fundo {
	margin-top: 30px;
	background-color: rgba(0,0,0,0.8);
}

#menu {
	padding: 15px;
}

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul li {

	display: inline-flex;
}

#titulo img {
	width: 25%;
	padding: 0;
	margin-top: 30px;
}

h1#formatacao-titulo {
	color: white;
	margin-bottom: 5px;
}


 
#menu a {
	padding-right: 55px;
	padding-left: 55px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 15px;
	font-size: 20px;
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 130px;
}

#menu a:link {
	background-color: #f7e414;
}


#menu a:hover, #selecionado a {
	background-color: gray;
}
/*FIM CABEÇALHO*/


/*BODY*/
#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-right: 30px;
	padding-left: 30px;
}

.caixas {
	padding: 5px;
	text-align: center;
	background-color: white;
	width: 600px;
	margin: 20px;
}

.caixas a {
	text-decoration: none;
	font-family: Arial Black, Helvetica, sans-serif;
}

.caixas p {
	text-align: justify;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 15px; 
}



#logo-time {
	width: 250px;
}

#players {
	width: 250px;
	position: relative;
	bottom: 30px;
	right: 30px;
}

.caixas h2 {
	text-align: left;
	position: relative;
	left: 20px;
	padding: 15px; 
}

#caixa-3 {
	padding: 5px;
	text-align: center;
	background-color: white;
	width: 91.5%;
	margin: 20px;
}

#logo-time {
	position: relative;
	right: 10px;
}

body {
	background-color: #808080;

}

h2#builds {
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;
}

h3#as-melhores {
	margin-top: 10px;
	margin-bottom: 40px;
	color: white;
}

#cor a {
	background-color: yellow;
}


/*FIM BODY*/

/*COMEÇO RODAPÉ*/

#rodape {
	text-align: center;
	background-color: black;
	padding: 0px;
	margin: 0px; 
	width: 100%;
	
}

#rodape h3 {
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
}

#video-rodape {

}

/*FIM RODAPÉ*/